//font
$font: 'Manrope', sans-serif;

//colors
$bg-primary: #1D2430;
$bg-secondary: #3A475C;
$white: #FEFEFE;
$error: #DB0D00;
$error-secondary: #EA837D;
$text-grey: #7E7E7E;
$button-default: #02B877;
$button-hover: #0b9b66;

//screen width
$desktop: 1440;
$desktop-sm: 1280;
$tablet: 1024;
$mobile: 375;