//font
$font: 'Manrope', sans-serif;

//colors
$bg-primary: #fdfdfd;
$bg-secondary: #f4f4f6;


$blue-primary: #0057f7;



@media (prefers-color-scheme: light) {
  $bg-primary: #fdfdfd;
  $bg-secondary: #f4f4f6;


  $blue-primary: #0057f7;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  $bg-primary: #322525;
  $bg-secondary: #2d2d37;


  $blue-primary: #0057f7;
}

//screen width
$desktop: 1440;
$desktop-sm: 1280;
$tablet: 1024;
$mobile: 375;